@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-noto-sans-japanese: var(--font-notoSansJapanese);
  --font-oswald: var(--font-oswald);
  --font-roboto: var(--font-roboto);
  --font-poppins: var(--font-poppins);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility link {
  @apply cursor-pointer text-neutral-100 hover:text-neutral-300;
}

@utility project-card {
  @apply block h-full rounded-xs border border-neutral-700 p-4 hover:border-neutral-600;
}

@utility project-title {
  @apply font-poppins text-sm leading-relaxed text-neutral-300;
}

@layer base {
  body {
    @apply font-poppins bg-neutral-950;
  }

  h1 {
    @apply text-xl leading-relaxed font-semibold text-neutral-100;
  }

  h2 {
    @apply text-lg leading-relaxed text-neutral-100;
  }

  h3 {
    @apply text-sm leading-relaxed text-neutral-300;
  }

  p {
    @apply text-xs leading-relaxed text-neutral-500;
  }

  hr {
    @apply my-2.5 h-px border-0 bg-neutral-800;
  }
}

/*
  ---break---
*/

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(17, 24, 39);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(17, 24, 39);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(17, 24, 39);
  --primary: rgb(216, 121, 67);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(82, 117, 117);
  --secondary-foreground: rgb(255, 255, 255);
  --muted: rgb(243, 244, 246);
  --muted-foreground: rgb(107, 114, 128);
  --accent: rgb(238, 238, 238);
  --accent-foreground: rgb(17, 24, 39);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(250, 250, 250);
  --border: rgb(229, 231, 235);
  --input: rgb(229, 231, 235);
  --ring: rgb(216, 121, 67);
  --chart-1: rgb(95, 135, 135);
  --chart-2: rgb(231, 138, 83);
  --chart-3: rgb(251, 203, 151);
  --chart-4: rgb(136, 136, 136);
  --chart-5: rgb(153, 153, 153);
  --sidebar: rgb(243, 244, 246);
  --sidebar-foreground: rgb(17, 24, 39);
  --sidebar-primary: rgb(216, 121, 67);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(255, 255, 255);
  --sidebar-accent-foreground: rgb(17, 24, 39);
  --sidebar-border: rgb(229, 231, 235);
  --sidebar-ring: rgb(216, 121, 67);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(18, 17, 19);
  --foreground: rgb(193, 193, 193);
  --card: rgb(18, 18, 18);
  --card-foreground: rgb(193, 193, 193);
  --popover: rgb(18, 17, 19);
  --popover-foreground: rgb(193, 193, 193);
  --primary: rgb(231, 138, 83);
  --primary-foreground: rgb(18, 17, 19);
  --secondary: rgb(95, 135, 135);
  --secondary-foreground: rgb(18, 17, 19);
  --muted: rgb(34, 34, 34);
  --muted-foreground: rgb(136, 136, 136);
  --accent: rgb(51, 51, 51);
  --accent-foreground: rgb(193, 193, 193);
  --destructive: rgb(95, 135, 135);
  --destructive-foreground: rgb(18, 17, 19);
  --border: rgb(34, 34, 34);
  --input: rgb(34, 34, 34);
  --ring: rgb(231, 138, 83);
  --chart-1: rgb(95, 135, 135);
  --chart-2: rgb(231, 138, 83);
  --chart-3: rgb(251, 203, 151);
  --chart-4: rgb(136, 136, 136);
  --chart-5: rgb(153, 153, 153);
  --sidebar: rgb(18, 18, 18);
  --sidebar-foreground: rgb(193, 193, 193);
  --sidebar-primary: rgb(231, 138, 83);
  --sidebar-primary-foreground: rgb(18, 17, 19);
  --sidebar-accent: rgb(51, 51, 51);
  --sidebar-accent-foreground: rgb(193, 193, 193);
  --sidebar-border: rgb(34, 34, 34);
  --sidebar-ring: rgb(231, 138, 83);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05),
    0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
